In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_excel (r"C:\Users\Swapnil\Downloads\corona1.xlsx")
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,ActiveCases,TotalRecovered,"Serious,Critical"
0,China,80651,99.0,3070.0,28.0,22164,55417.0,5489.0
1,S. Korea,6767,174.0,44.0,1.0,6588,135.0,52.0
2,Iran,4747,NaN,124.0,NaN,3710,913.0,NaN
3,Italy,4636,NaN,197.0,NaN,3916,523.0,462.0
4,Diamond Princess,696,NaN,6.0,NaN,478,212.0,34.0
5,Germany,670,NaN,NaN,NaN,652,18.0,8.0
6,France,653,NaN,9.0,NaN,632,12.0,23.0
7,Japan,420,NaN,6.0,NaN,365,49.0,34.0
8,Spain,402,1.0,8.0,NaN,388,6.0,9.0
9,USA,335,16.0,17.0,2.0,303,15.0,8.0
10,Switzerland,214,NaN,1.0,NaN,210,3.0,NaN
11,UK,164,NaN,2.0,NaN,144,18.0,NaN
12,Sweden,137,NaN,NaN,NaN,136,1.0,NaN
13,Singapore,130,NaN,NaN,NaN,48,82.0,9.0
14,Netherlands,128,NaN,1.0,NaN,127,NaN,1.0
15,Norway,127,NaN,NaN,NaN,126,1.0,NaN
16,Belgium,109,NaN,NaN,NaN,108,1.0,1.0
17,Hong Kong,108,NaN,2.0,NaN,55,51.0,6.0
18,Malaysia,83,NaN,NaN,NaN,60,23.0,NaN
19,Austria,66,NaN,NaN,NaN,64,2.0,1.0
20,Australia,64,1.0,2.0,NaN,40,22.0,1.0
21,Bahrain,60,NaN,NaN,NaN,56,4.0,NaN
22,Kuwait,58,NaN,NaN,NaN,57,1.0,NaN
23,Canada,54,NaN,NaN,NaN,46,8.0,1.0
24,Thailand,48,NaN,1.0,NaN,16,31.0,1.0
25,Iraq,46,NaN,4.0,NaN,41,1.0,NaN
26,Taiwan,45,NaN,1.0,NaN,29,15.0,NaN
27,Greece,45,NaN,NaN,NaN,45,NaN,1.0
28,Iceland,45,NaN,NaN,NaN,44,1.0,NaN
29,UAE,45,NaN,NaN,NaN,38,7.0,2.0
...,...,...,...,...,...,...,...,...
67,Luxembourg,3,NaN,NaN,NaN,3,NaN,NaN
68,North Macedonia,3,NaN,NaN,NaN,3,NaN,NaN
69,Bosnia and Herzegovina,3,NaN,NaN,NaN,3,NaN,NaN
70,Dominican Republic,2,NaN,NaN,NaN,2,NaN,NaN
71,Morocco,2,NaN,NaN,NaN,2,NaN,1.0
72,Cameroon,2,NaN,NaN,NaN,2,NaN,NaN
73,Afghanistan,1,NaN,NaN,NaN,1,NaN,NaN
74,Andorra,1,NaN,NaN,NaN,1,NaN,NaN
75,Armenia,1,NaN,NaN,NaN,1,NaN,NaN
76,Cambodia,1,NaN,NaN,NaN,0,1.0,NaN
77,Jordan,1,NaN,NaN,NaN,1,NaN,NaN
78,Latvia,1,NaN,NaN,NaN,0,1.0,NaN
79,Lithuania,1,NaN,NaN,NaN,1,NaN,NaN
80,Monaco,1,NaN,NaN,NaN,1,NaN,NaN
81,Nepal,1,NaN,NaN,NaN,0,1.0,NaN
82,Nigeria,1,NaN,NaN,NaN,1,NaN,NaN
83,Sri Lanka,1,NaN,NaN,NaN,0,1.0,NaN
84,Tunisia,1,NaN,NaN,NaN,1,NaN,NaN
85,Ukraine,1,NaN,NaN,NaN,1,NaN,NaN
86,Bhutan,1,NaN,NaN,NaN,1,NaN,NaN
87,Colombia,1,NaN,NaN,NaN,1,NaN,NaN
88,Costa Rica,1,NaN,NaN,NaN,1,NaN,NaN
89,Gibraltar,1,NaN,NaN,NaN,1,NaN,1.0
90,Vatican City,1,NaN,NaN,NaN,1,NaN,NaN
91,Liechtenstein,1,NaN,NaN,NaN,1,NaN,NaN
92,Peru,1,NaN,NaN,NaN,1,NaN,NaN
93,Serbia,1,NaN,NaN,NaN,1,NaN,NaN
94,Slovakia,1,NaN,NaN,NaN,1,NaN,NaN
95,South Africa,1,NaN,NaN,NaN,1,NaN,NaN
96,Togo,1,NaN,NaN,NaN,1,NaN,NaN

In [11]:
df.info

<bound method DataFrame.info of              Country,Other  TotalCases  NewCases  TotalDeaths  NewDeaths  \
0                    China       80651      99.0       3070.0       28.0
1                 S. Korea        6767     174.0         44.0        1.0
2                     Iran        4747       NaN        124.0        NaN
3                    Italy        4636       NaN        197.0        NaN
4         Diamond Princess         696       NaN          6.0        NaN
5                  Germany         670       NaN          NaN        NaN
6                   France         653       NaN          9.0        NaN
7                    Japan         420       NaN          6.0        NaN
8                    Spain         402       1.0          8.0        NaN
9                      USA         335      16.0         17.0        2.0
10             Switzerland         214       NaN          1.0        NaN
11                      UK         164       NaN          2.0        NaN
12                  Sweden         137       NaN          NaN        NaN
13               Singapore         130       NaN          NaN        NaN
14             Netherlands         128       NaN          1.0        NaN
15                  Norway         127       NaN          NaN        NaN
16                 Belgium         109       NaN          NaN        NaN
17               Hong Kong         108       NaN          2.0        NaN
18                Malaysia          83       NaN          NaN        NaN
19                 Austria          66       NaN          NaN        NaN
20               Australia          64       1.0          2.0        NaN
21                 Bahrain          60       NaN          NaN        NaN
22                  Kuwait          58       NaN          NaN        NaN
23                  Canada          54       NaN          NaN        NaN
24                Thailand          48       NaN          1.0        NaN
25                    Iraq          46       NaN          4.0        NaN
26                  Taiwan          45       NaN          1.0        NaN
27                  Greece          45       NaN          NaN        NaN
28                 Iceland          45       NaN          NaN        NaN
29                     UAE          45       NaN          NaN        NaN
..                     ...         ...       ...          ...        ...
67              Luxembourg           3       NaN          NaN        NaN
68         North Macedonia           3       NaN          NaN        NaN
69  Bosnia and Herzegovina           3       NaN          NaN        NaN
70      Dominican Republic           2       NaN          NaN        NaN
71                 Morocco           2       NaN          NaN        NaN
72                Cameroon           2       NaN          NaN        NaN
73             Afghanistan           1       NaN          NaN        NaN
74                 Andorra           1       NaN          NaN        NaN
75                 Armenia           1       NaN          NaN        NaN
76                Cambodia           1       NaN          NaN        NaN
77                  Jordan           1       NaN          NaN        NaN
78                  Latvia           1       NaN          NaN        NaN
79               Lithuania           1       NaN          NaN        NaN
80                  Monaco           1       NaN          NaN        NaN
81                   Nepal           1       NaN          NaN        NaN
82                 Nigeria           1       NaN          NaN        NaN
83               Sri Lanka           1       NaN          NaN        NaN
84                 Tunisia           1       NaN          NaN        NaN
85                 Ukraine           1       NaN          NaN        NaN
86                  Bhutan           1       NaN          NaN        NaN
87                Colombia           1       NaN          NaN        NaN
88              Costa Rica           1       NaN          NaN        NaN
89               Gibraltar           1       NaN          NaN        NaN
90            Vatican City           1       NaN          NaN        NaN
91           Liechtenstein           1       NaN          NaN        NaN
92                    Peru           1       NaN          NaN        NaN
93                  Serbia           1       NaN          NaN        NaN
94                Slovakia           1       NaN          NaN        NaN
95            South Africa           1       NaN          NaN        NaN
96                    Togo           1       NaN          NaN        NaN

    ActiveCases  TotalRecovered  Serious,Critical
0         22164         55417.0            5489.0
1          6588           135.0              52.0
2          3710           913.0               NaN
3          3916           523.0             462.0
4           478           212.0              34.0
5           652            18.0               8.0
6           632            12.0              23.0
7           365            49.0              34.0
8           388             6.0               9.0
9           303            15.0               8.0
10          210             3.0               NaN
11          144            18.0               NaN
12          136             1.0               NaN
13           48            82.0               9.0
14          127             NaN               1.0
15          126             1.0               NaN
16          108             1.0               1.0
17           55            51.0               6.0
18           60            23.0               NaN
19           64             2.0               1.0
20           40            22.0               1.0
21           56             4.0               NaN
22           57             1.0               NaN
23           46             8.0               1.0
24           16            31.0               1.0
25           41             1.0               NaN
26           29            15.0               NaN
27           45             NaN               1.0
28           44             1.0               NaN
29           38             7.0               2.0
..          ...             ...               ...
67            3             NaN               NaN
68            3             NaN               NaN
69            3             NaN               NaN
70            2             NaN               NaN
71            2             NaN               1.0
72            2             NaN               NaN
73            1             NaN               NaN
74            1             NaN               NaN
75            1             NaN               NaN
76            0             1.0               NaN
77            1             NaN               NaN
78            0             1.0               NaN
79            1             NaN               NaN
80            1             NaN               NaN
81            0             1.0               NaN
82            1             NaN               NaN
83            0             1.0               NaN
84            1             NaN               NaN
85            1             NaN               NaN
86            1             NaN               NaN
87            1             NaN               NaN
88            1             NaN               NaN
89            1             NaN               1.0
90            1             NaN               NaN
91            1             NaN               NaN
92            1             NaN               NaN
93            1             NaN               NaN
94            1             NaN               NaN
95            1             NaN               NaN
96            1             NaN               NaN

[97 rows x 8 columns]>

In [12]:
df.index
df.columns

Index(['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'ActiveCases', 'TotalRecovered', 'Serious,Critical'],
      dtype='object')